$white: #FFFFFF;
$orange: #F5A623;
$yellow: #FBD249;
$blue: #1E88F5;

$black: #333333;
$gray: #4A4A4A;
$remark: #9B9B9B;
$dblue: #373D49;

$mark-1: #E6E6E6;
$mark-2: #4D4D4D;
$mark-3: #666666;
$mark-4: #E9E9E9;
$red: #f00;

